.centrar {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.globalCont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    place-items: center;
    width: 1150px;
}

.imagen {
    box-sizing: border-box;
    max-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.imagen img {
    object-fit: cover;
    width: 100%;
}

.texto {
    min-height: 100%;
}