.contenedorSticky {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

.contenedorGlobal {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    min-width: 100%;
    font-family: var(--fuente-titulos);
    background-color: rgba(255, 255, 255, 0.904);
}

.contenedorLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    max-height: 100%;
    margin-left: 2rem;
    width: 20rem;
    box-sizing: border-box;
}

.contenedorLogo img {
    object-fit: cover;
    width: 90%;
}

.contenedorDerecha {
    display: flex;
    margin-right: 2rem;
}


.botones {
    color: var(--color-celeste);
    height: 100%;
    box-sizing: border-box;
    width: 12rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botones button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-celeste);
    padding: 0.6rem;
    border-radius: 50%;
    transition: 0.2s all ease-in;
    color: var(--color-celeste);
    font-weight: bold;
}

.botones button:hover {
    cursor: pointer;
    background-color: var(--color-azul);
    color: var(--color-blanco);
    border: 2px solid var(--color-azul);
    transform: scale(1.1);
}

.botones a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-celeste);
    padding: 0.5rem;
    border-radius: 50%;
    transition: 0.3s all ease-in;
}

.botones a:hover {
    transform: scale(1.1);
}

.rutas {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: var(--color-celeste);
    height: 100%;
    box-sizing: border-box;
}

.rutas li {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    border-right: 3px solid var(--color-celeste);
    font-size: 20px;
    font-weight: 800;
    padding-right: 10px;
    height: 1.5rem;
    transition: 0.3s all ease-in-out;
}

.rutas li a {
    transition: 0.3s all ease-in-out;
    text-decoration: none;
    color: var(--color-celeste);
}

.rutas li a:hover {
    color: var(--color-azul);
}

.rutas li:hover {
    border-right: 3px solid var(--color-azul);
}

.rutas li:last-child {
    border-right: none;
}

/* Estilos checkbox */

.modal {
    display: none;
}

/* Estios modal car */

.modalCar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
    height: 20rem;
    width: 33rem;
    position: absolute;
    top: 6.5rem;
    right: 50px;
    border-radius: 5px;
    border: 1px solid rgb(235, 235, 235);
    overflow: auto;
    animation-name: Prueba;
    animation-duration: 0.3s;
}

@keyframes Prueba {
    0% {height: 1rem;}
    100% {height: 20rem;}
}

.carrito {
   position: relative; 
   margin-right: 1rem;
}

.carrito:hover {
    cursor: pointer;
}

.carrito p {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -13px;
    height: 18px;
    width: 18px;
    background-color: aliceblue;
    border-radius: 50%;
    border: 1px solid var(--color-celeste);
    font-size: 13px;
}

.carritovacio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 32rem;
    color: rgb(205, 205, 205);
}

.modalCar::-webkit-scrollbar {
    width: 0px;        
  }
  
/* .modalCar::-webkit-scrollbar-track {
    background: none;      
  }
  
.modalCar::-webkit-scrollbar-thumb {
    background-color: rgb(211, 211, 211);   
    border-radius: 20px;       
    border: 3px solid var(--color-blanco);  
  } */

.modalCar button {
    background-color: rgb(255, 191, 72);
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 3px;
    transition: 0.3s all;
    margin: 5px;
}

.modalCar button:hover {
    background-color: rgb(255, 174, 22);
    cursor: pointer;
}

.comprar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comprar p {
    margin-right: 1rem;
    font-weight: bold;
}

.input_filtros {
    display: none;
    position: relative;
}

.filtros_cont span {
    font-size: 30px;
}

.input_filtros:checked + span {
    color: var(--color-azul)
}

/* -------------------------- */

@media (max-width: 788px) {

    .modal {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        position: relative;
    }

    .menuGlobal {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 100%;
    }

    /* Menu hamburguesa */

    .filtros_cont {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
    }

    .contenedirCheckBox {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-celeste);
    }

    .contenedirCheckBox span {
        font-size: 30px;
    }
    
    .input_filtros {
        display: none;
        position: absolute;
    }

    .filtros_cont span {
        font-size: 30px;
        color: var(--color-celeste);
    }
    
    .input_filtros:checked + span {
        color: var(--color-celeste)
    }

    .prueba {
        background-color: var(--color-azul);
    }

    .rutasResponsive {
        position: absolute;
        left: 0;
        top: 6rem;
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 100%;
        padding: 0;
        background-color: var(--color-blanco);
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    }

    .rutasResponsive li {
        display: flex;
        align-items: center;
        text-align: left;
        width: 100%;
        height: 4rem;
        padding: 0 0 0 1.5rem;
        box-sizing: border-box;
        transition: 0.3s all ease-in-out;
    }

    .rutasResponsive a {
        text-decoration: none;
        color: black;
    }

    .rutasResponsive li:hover {
        background-color: rgb(241, 241, 241);
    }

/* Estilos logo  */

    
.LogoResponsive {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 1rem;
    width: 3rem;
    box-sizing: border-box;
}

.LogoResponsive img {
    object-fit: cover;
    width: 100%;
}

.contenedorLogo {
        display: none;
    }

.contenedorDerecha {
        display: none
    }

.botones {
    display: none
}

/* Modal car vista celular */

.modalCar {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
    height: 20rem;
    width: 100%;
    right: 0;
    top: 6rem;
    border-radius: 0px;
    border: 1px solid rgb(235, 235, 235);
    overflow: auto;
    animation-name: Prueba;
    animation-duration: 0.3s;
    padding: 0.5rem;
}

@keyframes Prueba {
    0% {height: 1rem;}
    100% {height: 20rem;}
}

.carrito {
   position: relative;
}

.carrito:hover {
    cursor: pointer;
}

.carrito p {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -13px;
    height: 18px;
    width: 18px;
    background-color: aliceblue;
    border-radius: 50%;
    border: 1px solid var(--color-celeste);
    font-size: 13px;
}

.carritovacio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: rgb(205, 205, 205);
}

.carritovacio h1 {
    font-size: 3vh;
}

.modalCar button {
    background-color: rgb(255, 191, 72);
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 3px;
    transition: 0.3s all;
    margin: 5px;
}

.modalCar button:hover {
    background-color: rgb(255, 174, 22);
    cursor: pointer;
}

.comprar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comprar p {
    margin-right: 1rem;
    font-weight: bold;
}

.contenedroLogosModal {
    display: flex
}

}; 