@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


* {
  margin: 0;
}

:root {
  --color-celeste: #29ABE3;
  --color-amarillo: #FAE04A;
  --color-rojo: #E83D61;
  --color-rosa: #F5BFF0;
  --color-azul: #282847;
  --color-blanco: #fff;
  --fuente-titulos: 'Roboto', sans-serif;

}



html {
  scroll-behavior: smooth;
}

