.container{
    height: auto;
    background-color: var(--color-amarillo);
    width: 100%;
    box-sizing: border-box;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.logo {
    width: 85%;
    margin-bottom: 2rem;
}

.logo img{
    object-fit: cover;
    width: 100%;
}

.container p {
    font-weight: bold;
    margin-bottom: 1rem;
}

.rutas {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}

.rutas a {
    text-decoration: none;
    color: black;
    transition:  0.3s all;
}

.rutas a:hover {
    color: var(--color-celeste);
}

.socialMedia {
    width: 100%;
    margin-bottom: 1rem;
}

.redes {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 2rem;
}

.redes a {
    margin-right: 0.5rem;
}

.redes img {
    width: 100%;
    height: 100%;
    filter: grayscale(100);
    filter: brightness(0%);
    transition:  0.3s all;
}


.redes img:hover {
    filter: none;
}

.contacto {
    display: flex;
    flex-direction: column;
}

.cont {
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.cont p {
    margin: 0;
}

.cont span {
    font-size: 35px;
    margin-right: 1rem;
}