.container {
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.fondo {
    height: 100%;
    width: 100%;
    position: relative;
}
.fondoImg {
    object-fit: cover;
    width: 100%;
}
.title {
    position: absolute;
    top: 10%;
    right: 23%;
    height: auto;
    width: 60%;
}
.title img {
    object-fit: cover;
    width: 100%;
}
.desc {
    position: absolute;
    top: 30%;
    right: 18%;
    height: auto;
    width: 70%;
}
.desc img {
    object-fit: cover;
    width: 100%;
}
.burbuja {
    position: absolute;
    top: 5%;
    right: 6%;
    width: 45%;
    height: 80%;
}
.burbuja img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.burbuja button {
    position: absolute;
    right: 25%;
    bottom: 13%;
    border: none;
    background-color: #363652;
    color: white;
    font-size: 2vw;
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s all;
}
.burbuja button:hover {
    cursor: pointer;
    background-color: #2e2e45;
}
@media only screen and (max-width: 768px){ 
    .container {
        height: 100vh;
        width: 100%;
        background-image: url('../../ImagenesNew/Ranger-Elementos-Web-11.webp');
        background-size: cover;
        background-position: 20% 0;
    }
    .fondo {
        height: 100%;
        width: 100%;
        position: relative;
    }
    .fondoImg {
        display: none;
    }
    .title {
        position: absolute;
        top: 20%;
        right: 23%;
        height: auto;
        width: 60%;
    }
    .title img {
        object-fit: cover;
        width: 100%;
    }
    .desc {
        position: absolute;
        top: 45%;
        right: 18%;
        height: auto;
        width: 70%;
    }
    .desc img {
        object-fit: cover;
        width: 100%;
    }
    .burbuja {
        position: relative;
        top: 20%;
        right: 0%;
        width: 100%;
        height: 50%;
    }
    .burbuja img {
        object-fit: cover;
        width: 100%;
    }
    .burbuja button {
        position: absolute;
        right: 28%;
        bottom: -20%;
        border: none;
        background-color: #363652;
        color: white;
        font-size: 3vh;
        font-weight: bolder;
        padding: 10px 20px;
        border-radius: 10px;
        transition: 0.3s all;
    }
    .burbuja button:hover {
        cursor: pointer;
        background-color: #2e2e45;
    }
}
@media only screen and (max-width: 480px){ 
    .title {
        position: absolute;
        top: 10%;
        right: 23%;
        height: auto;
        width: 60%;
    }
    .title img {
        object-fit: cover;
        width: 100%;
    }
    .desc {
        position: absolute;
        top: 30%;
        right: 18%;
        height: auto;
        width: 70%;
    }
    .desc img {
        object-fit: cover;
        width: 100%;
    }
    .burbuja {
        position: relative;
        top: 20%;
        right: 0%;
        width: 100%;
        height: 50%;
    }
    .burbuja img {
        object-fit: cover;
        width: 100%;
    }
    .burbuja button {
        position: absolute;
        right: 27%;
        bottom: 5%;
        border: none;
        background-color: #363652;
        color: white;
        font-size: 2vh;
        font-weight: bolder;
        padding: 10px 20px;
        border-radius: 10px;
        transition: 0.3s all;
    }
    .burbuja button:hover {
        cursor: pointer;
        background-color: #2e2e45;
    }
}
/* .container{
    height: 100vh;
    background-color: var(--color-rojo);
    
}
.gridVideo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
    justify-content: center;
    align-items: center;

}
.TextoSeccion{
    width: 70%;
    display: block;
    margin: 0 auto;
}
.TextoSeccion h1{
    color: var(--color-blanco);
    text-align: left;
    font-size: 45px;
}

.parrafo{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}
.parrafo p{
    font-size: 20px;
    color:var(--color-blanco);
    margin-top: 10%;
    text-align: left;
}

.video{
    width: 80%;
    background-color: grey;
    height: 70%;
    border-radius: 75px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.video video {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
}

.botonConocer{
    width: 100%;
    border: none;
    height: 60px;
    border-radius: 5px;
    margin-top: 15%;
    font-size:3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;

}

.TextoSeccion a {
    text-decoration: none;
}

.botonConocer:hover {
    cursor: pointer;
}

.botonConocer span{
    font-size:45px;
    margin-right: 15%;
    transition: 0.5s all ease-in-out;
}

.botonConocer:hover span{
    transform: translateX(50px);
}

@media (min-width: 480px) and (max-width: 768px){
    .gridVideo{
        display: flex;
        flex-direction: column;

    }
    .video{
        margin-top: 10%;
        height: 100%;
       
    }
    .video video {
        object-fit: cover;
        width: 100%;
        min-height: 100%;
    }
    .container{
        padding: 70px 0;

    }
}

@media (max-width: 480px) {

    .container{
        height: auto;
        background-color: var(--color-rojo);
        padding: 60px 0;
    }

    .gridVideo{
        display: flex;
        flex-direction: column;
    }

    .video{
        margin-top: 10%;
        height: 15rem;
        padding-bottom: 50px 0 ;
        margin-bottom: 3rem;
    }
    .video video {
        object-fit: cover;
        max-width: 100%;
        min-height: 100%;
    }

    .TextoSeccion h1 {
        font-size: 5vh;
    }

    .botonConocer {
        font-size: 2.2vh;
    }
    
    .botonConocer span{
        font-size: 35px;
        margin-right: 10%;
        transition: 0.5s all ease-in-out;
    }
    
    .botonConocer:hover span{
        transform: translateX(20px);
    }

} */
