.globalContainer {
    width: 100%;
    text-align: center;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);    
    height: 100%;
    align-items: center;
    padding-top: 5%;
}

.globalContainer h1 {
    background-color: var(--color-celeste);
    color: var(--color-blanco);
    padding: 2rem 1rem;
}

.slider, .item {
    box-sizing: border-box;
    width: 400px;
    height: 80vh;
}

.item img {
    object-fit: contain;
    width: 300px;
    height: 100%;
}

/* .item2 {
    min-height: 70%;
    max-height: 70%;
    width: 100%;
    background-image: url('../../Imagenes/2.png');
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}
*/

.fondoContainer{
    background-color: var(--color-celeste);
    min-height: 100vh;
}
.sliderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../Imagenes/fondoSlider.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    align-items: center;
    height: 70vh;

}

.imgTexto{
    width: 70%;
}
.imgCohete{
    width: 100%;
    position:relative;
    top: -20%;
    left: -10px;
}
.imgContainers{
    height: 87vh;
}
/* @media only screen and (min-width: 1280px){ 
    .globalContainer {
        height: auto;
        display: flex;
        flex-direction: column;
    }

} */
@media only screen and (max-width: 768px){ 
    .globalContainer {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .imgTexto{
        width: 90%;
    }
    .item img {
        object-fit: contain;
        width: 400px;
        height: 100%;
    }
    .slider, .item {
        box-sizing: border-box;
        width: 600px;
        height: 80vh;
    }
    .sliderContainer{

        height: 100vh;
        width: 100%;
    
    }
}

@media only screen and (max-width: 480px){ 
    .imgTexto{
        width: 90%;
    }
    .globalContainer {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .imgCohete{
        width: 100%;
        position:relative;
        top: -2rem;
        left: -10px;
    }
    .item img {
        object-fit: contain;
        width: 300px;
        height: 100%;
    }
    .slider, .item {
        box-sizing: border-box;
        width: 600px;
        height: 80vh;
        
    }
    .sliderContainer{
        height: auto;
        width: 100%;
        position: static;
    }
    .fondoContainer{
        height: auto;
    }
    .imgContainers{
        height: auto;
    }
}