.globalContainer {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: #f0f0f1;
}

.contenedorInputs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 34px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 3px rgb(0 0 0 / 4%);
}

.contenedorInputs button {
    padding: 0 14px;
    line-height: 2.71428571;
    font-size: 14px;
    vertical-align: middle;
    min-height: 40px;
    margin-bottom: 4px;
    background-color: var(--color-celeste);
    border: none;
    color: var(--color-blanco);
    border-radius: 4px;
    transition: 0.2s all;
}

.contenedorInputs button:hover {
    background-color: var(--color-azul);
    cursor: pointer;
}

.materialContainer {
    margin: 1rem 0;
}

.contImage {
    width: 100%;
    height: auto;
}

.contImage img {
    object-fit: cover;
    width: 100%;
}

.contCentrado {
    width: 20rem;
}