.globaContainer {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1.5rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

}
.title img {
    width: 50%;

}
.container h1 {
    margin: 3rem 0;
    font-size: 3.5vh;
    
}
.imgTitulo{
   width: 20%;
   margin-top: 1%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}
.gridProductos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 3%;
    gap: 3rem;
    

}

.img{
    display: block;
    margin: 0 auto;
    width: 300px;
}

.comprar{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.producto{
    width: 100%;
}
.comprar button {
    background-color: #282847;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 500;    
    color: var(--color-blanco);
    font-size: 3vh;
    font-weight: bold;
    margin-top: 1rem;
    transition: 0.3s all ease-in-out;
}

.comprar button:hover {
    background-color: var(--color-azul);
}

.botton {
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}

.botton p {
    font-size: 30px;
    color:  #282847;
    font-weight: bold;
}

.tablanutriocional p {
    margin-top: 1rem;
    font-size: 2.5vh;
    font-weight: bold;
    color: #282847;
}
@media (min-width: 480px) and (max-width: 768px){
    .title img {
        width: 90%;
    
    }
    .imgTitulo{
        width: 40%;
        margin-top: 5%;
     }
    .globaContainer{
        display: flex;
        
    }
    .gridProductos{
      display: flex;
      flex-direction: column;
    }
    .title h1 {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .title img {
        width: 100%;
    
    }
    .imgTitulo{
        width: 50%;
        margin-top: 5%;
     }
    .globaContainer {
        margin-bottom: 5rem;
        box-sizing: border-box;
        padding: 1.5rem;
    }
    
    .title h1 {
        text-align: center;
        margin: 2rem 0;
        font-size: 5vh;
    }
    
    .container h1 {
        margin: 3rem 0;
        font-size: 3.5vh;
    }
    
    .contenedor{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .gridProductos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
};